<%- include("../partials/header") %>

<div class="container">
	<div class="col-md-3 thumbnail">
		<img class="img-responsive show-image" src="<%= blog.image %>">
		<div class="caption-full">
			<p>
				<em> Submitted By <%= blog.author.username %> </em>
			</p>
			<% if(currentUser && blog.author.id.equals(currentUser._id)) { %>
			<a class="btn btn-xs btn-warning" href="/blogs/<%=blog._id%>/edit">Edit</a>
			<form class="delete-form" action="/blogs/<%= blog._id %>?_method=DELETE"   method="POST">
				<button class="btn btn-xs btn-danger">Delete</button>
			</form>
			<% } %>	
		</div>
	</div>
    <div class="col-md-9">
    	<h2 class="text-center" id="title"><%= blog.title %></h2>
    	<p id="content"><%= blog.content %> </p>
    </div>
</div>

<%- include("../partials/footer") %>